body {
    margin: 0;
    padding: 0;
    background-color: rgba(228, 210, 162, 1);
    color: #222;

    font-family: "Helvetica Neue", Helvetica, sans-serif;
}


button {
    font-size: 1em;
    border-radius: .2em;
    cursor: pointer;
}


header {
    background-color: #566b24;
    color: #eee;
    box-shadow: 0 0 3px 4px hsl(44, 30%, 55%);
    display: -webkit-flex;
    display: flex;
    height: 4em;
}
header h2 {
    margin: 0;
    line-height: 1.5em;
}
header div {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}
header div.title {
    -webkit-flex: 3;
    flex: 3;
}
header div.search {
    -webkit-flex: 11;
    flex: 11;
}
header div.settings {
    -webkit-flex: 3;
    flex: 3;

    -webkit-justify-content: flex-end;
    justify-content: flex-end;

    font-size: 1.25em;
    font-weight: bold;
    color: hsla(44, 20%, 95%, .8);
}
header div.settings:hover {
    color: hsla(44, 20%, 95%, 1);
    cursor: pointer;
}
header div.settings img {
    margin: 0 5px 0 10px;
}
header div.spacer {
    -webkit-flex: 3;
    flex: 3;
}
header img {
    height: 2em;
}
header .title img {
    height: 4em;
}



article {
    margin: 3em auto 3em auto;
    width: 70vw;

    display: -webkit-flex;
    display: flex;
    
    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: flex-start;
    align-items: flex-start;
}
article .question-list {
    -webkit-flex: 4;
    flex: 4;
}
article .tag-list {
    -webkit-flex: 1;
    flex: 1;
}


.search input {
    color: #333;
    width: 100%;
    background: #eee url(../img/search.png) no-repeat scroll;
    background-position: 98% 45%;
    background-size: 16px 16px;
    padding-right: 30px !important;

    border-radius: 8px;
    box-shadow: 0 3px 2px -1px rgba(228,210,162,1);
}

input[type=text] {
    border: 1px solid #e4d2a2;
    padding: 0 .3em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    position: relative;
    margin: 0 auto;
}
input[type=text]:focus {
    outline: none;
    border: 1px solid #cfb590;
    background-color: #fff;
}



.question-list {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: flex-end;
    align-items: flex-end;

    margin-right: .8em;
}
.question-list > div#ask,
.question-list > div.question {
    height: auto;
    width: 99.5%;
    border-radius: .2em;
    margin: 0 2px 2px 2px;
}
.question-list .question {
    background-color: rgba(249, 244, 229, 1);
    box-shadow: 0px 2px 0px 0px hsl(44, 30%, 70%);
    min-height: 5em;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: center;
    align-items: center;
}
.question-list .question:hover {
    cursor: pointer;
    background-color: #fff;
}
.question > .score,
.question > .profile,
.question > .vote,
.question > .answers {
    -webkit-flex: 1;
    flex: 1;
}
.question > .text {
    -webkit-flex: 7;
    flex: 7;
}
.question .vote {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}
.question button {
    border: none;
    height: 24px;
    width: 24px;
}
.question button.upvote {
    background: url(../img/arrow-default.png) no-repeat scroll;
    background-size: 24px 24px;
    background-position: 80% 45%;
}
.question button.upvote:hover,
.question button.downvote:hover {
    background-image: url(../img/arrow-hover.png);
}
.question button.upvote:active,
.question button.downvote:active {
    background-image: url(../img/arrow-active.png);
}
.question .score,
.question .answers {
    font-size: 1.5em;
    color: hsl(44, 40%, 55%);
    font-weight: bold;

    display: -webkit-flex;
    display: flex;
}
.question .score {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-align-items: stretch;
    align-items: stretch;
}
.question .profile {
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.question .answers {
    text-align: center;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: stretch;
    align-items: stretch;
    padding-right: 1em;
}
.question .answers > div {
    font-size: .5em;
    line-height: 2.5em;
}
.question .text {
}


.tag-list {
    background-color: rgba(249, 244, 229, 1);
    border-radius: .2em;
    color: hsl(44, 40%, 55%);
    box-shadow: 0px 2px 0px 0px hsl(44, 30%, 70%);

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;

    line-height: 150%;
}
.tag-list > div {
    padding-right: 1em;
}
.tag-list ul {
    list-style-type: none;
    padding-left: .5em;
}
.tag-list a {
    color: inherit;
    text-decoration: none;
}
.tag-list a:hover {
    color: hsl(76, 52%, 50%);
}
.tag-list a:active {
    color: hsl(76, 25%, 40%);
}


.answer-list {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: flex-end;
    align-items: flex-end;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-bottom: 2em;
    width: 87%;
}
.answer > .profile,
.answer > .vote,
.answer > .score {
    -webkit-flex: 1;
    flex: 1;
}
.answer > .text {
    -webkit-flex: 7;
    flex: 7;
}

.answer-list .answer {
    background-color: rgba(249, 244, 229, 1);
    margin: 0 2px 2px 2px;
    border-radius: .2em;
    box-shadow: 0px 2px 0px 0px hsl(44, 30%, 70%);

    height: auto;
    min-height: 5em;
    width: 98.5%;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
}
.answer-list .answer:hover {
    cursor: pointer;
    background-color: #fff;
}

.answer .vote {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}
.answer button {
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
}
.answer button.upvote {
    background: url(../img/arrow-default.png) no-repeat scroll;
    background-size: 24px 24px;
    background-position: 50% 45%;
    margin: 0 0 .5em 0;
}
.answer button.downvote {
    background: url(../img/arrow-default.png) no-repeat scroll;
    background-size: 24px 24px;
    background-position: 50% 45%;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
.answer button.upvote:hover{
background-image: url(../img/arrow-hover.png);
}
.answer button.downvote:hover {
    background-image: url(../img/arrow-hover-downvote.png);
}
.answer button.upvote:active {
    background-image: url(../img/arrow-active.png);
}
.answer button.downvote:active {
    background-image: url(../img/arrow-active-downvote.png);
}
.answer .score {
    font-size: 1.5em;
    color: hsl(44, 40%, 55%);
    font-weight: bold;

    display: -webkit-flex;
    display: flex;
}
.question .profile {
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.answer .text {
    padding-right: .5em;
}



.profile img {
    max-width: 80%;
    max-height: 80%;
}


#ask-btn,
#answer-q-btn {
    margin: 0 auto 30px !important;
}
#ask-btn {
    display: none;
}
#answer-q-btn {
    width: 98%;
}
#ask-btn button,
#answer-q-btn button {
    height: 35px;
}
#answer-q-btn button {
    display: block;
    margin: 10px auto 0;
}



#ask,
#answer-box {
    background-color: rgba(30,30,30,.3);
    padding: 1.25em 0;
    margin-bottom: 30px !important;
    display: none;
}
#answer-box {
    width: 115%;
    margin-top: 10px;
}

#ask textarea,
#answer-box textarea {
    height: 7em;
    display: block;
    margin: 0 auto;
    padding: 2px 5px;
    width: 90%;
    background-color: rgba(240,240,240,.9);
    border: none;
    border-radius: .2em;
    font-size: 1.5em;
}
#answer-box textarea:focus,
#ask textarea:focus {
    outline: none;
    background-color: rgba(255,255,255,.9);
}

#answer-box .buttons,
#ask .buttons {
    width: 345px;
    margin: 10px auto 0;
}
#answer-box .buttons button,
#ask .buttons button {
    height: 35px;
    border: 0;
    background-color: hsl(78,5%,88%);
    box-shadow: 1px 1px 5px 1px rgba(100,100,100,.3);
}
#answer-box .buttons button:hover,
#ask .buttons button:hover {
    background-color: hsl(78,5%,98%);
}
#answer-box .buttons button:active,
#ask .buttons button:active {
    background-color: hsl(78,5%,93%);
}
#answer-box .buttons button.input,
#ask .buttons button.input {
    width: 35px;
}


button.submit {
    background-color: hsl(78,50%,28%) !important;
    color: hsl(44, 20%, 95%) !important;
    font-weight: bold;
    border: 0;
    min-width: 70px;
    box-shadow: 1px 1px 5px 1px rgba(50,50,50,.3) !important;
}
button.submit:hover {
    background-color: hsl(78,40%,38%) !important;
}
button.submit:active {
    background-color: hsl(78,40%,33%) !important;
}
