body {
    margin: 0;
    padding: 0;
    background-color: rgba(228, 210, 162, 1);

    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

header {
    background-color: #566b24;
    color: #eee;
    padding: .75em 0;
    display: -webkit-flex;
    display: flex;
}
header h2 {
    margin: 0;
    line-height: 1.5em;
}
header div {
    -webkit-flex: 1;
    flex: 1;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: stretch;
    align-items: stretch;
}
header div.search {
    -webkit-flex: 3;
    flex: 3;
}
header img {
    height: 2em;
}
header .title {
    text-transform: uppercase;
    background: url(../img/leaf.svg) no-repeat scroll;
    background-size: 36px 36px;
    background-position: 80% 45%;
}


.search input {
    width: 80%;
    background: #eee url(../img/search.png) no-repeat scroll;
    background-position: 98% 45%;
    background-size: 16px 16px;
    padding-right: 30px !important;

    border-radius: 8px;
    box-shadow: 0 3px 2px -1px rgba(228,210,162,1);
}

input[type=text] {
    border: 1px solid #e4d2a2;
    padding: 0 .3em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    position: relative;
    margin: 0 auto;
}
input[type=text]:focus {
    outline: none;
    border: 1px solid #cfb590;
    background-color: #fff;
}



.question-list {
    margin: 3em 0 3em 0;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}
.question-list .question {
    background-color: rgba(249, 244, 229, 1);
    margin: .1em;
    border-radius: .2em;

    width: 70vw;
    height: 4em;
    max-width: 50rem;

    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: center;
    align-items: center;
}
.question-list .question:hover {
    cursor: pointer;
    background-color: #fff;
}
.question > .vote {
    -webkit-flex: 1;
    flex: 1;
}
.question > .score,
.question > .number-of-answers {
    -webkit-flex: 1;
    flex: 1;
}
.question > .text {
    -webkit-flex: 7;
    flex: 7;
}
.question .vote {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}
.question button {
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
}
.question button.upvote {
    background: url(../img/arrow-default.png) no-repeat scroll;
    background-size: 23px 23px;
    background-position: 80% 45%;
    margin: 0 0 .5em 0;
}
.question button.downvote {
    background: url(../img/arrow-default.png) no-repeat scroll;
    background-size: 23px 23px;
    background-position: 80% 45%;
    transform: scaleY(-1);
}
.question button.upvote:hover,
.question button.downvote:hover {
    background-image: url(../img/arrow-hover.png);
}
.question button.upvote:active,
.question button.downvote:active {
    background-image: url(../img/arrow-active.png);
}
.question .score,
.question .number-of-answers {
    font-size: 1.5em;
    color: hsl(44, 40%, 55%);
    font-weight: bold;

    display: -webkit-flex;
    display: flex;
}
.question .score {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    -webkit-align-items: stretch;
    align-items: stretch;
}
.question .number-of-answers {
    text-align: center;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-align-items: stretch;
    align-items: stretch;
}
.question .number-of-answers > div {
    font-size: .5em;
    line-height: 2.5em;
}
.question .text {
}
